<%-include("partials/header")%>

<section class="head_nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light op">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>

<div class="container center">
    <div class="userphot1">
        <img src="" class="user-profile" width="170px" height="250px" alt="User Photo Here">
    </div>
</div>
<hr>

<div id="Name">
    Name: 
    <hr>
    <div id="Email">
        Email: 
    </div>
    <hr>
    <div id="Email">
        Phone No:
    </div>

</div>

<section id="pricing" class="white-section">
    <h2 class="heading1">Your Courses</h2>
    <p></p>
    <div class="row">

        <% courses.forEach(function(course){ %>
            <div class="pricing-component col-lg-4 col-md-6">
                <div class="card">
                  <div class="card-header">
                    <img class="student_image" src="/public/images/student.png" alt="Course-profile">
                  </div>
                  <div class="card-body">
                    <h3>
                      <%= course.courses. %> 
                    </h3>
                    <p>Course technology</p>
                    <p><%= course["courses"].date %></p>
                    <form>
                      <button type="submit" class="form-control btn btn-dark btn-lg button2">Enroll</button>
                    </form>
                    </div>
                    </div>
                    </div>
        <% }); %>
</section>

<%-include("partials/footer")%>